<section id="about">
  <header class="header-about">
    <h1>About Me</h1>
  </header>
  <div class="about-wrapper">
    <%= image_tag 'propic3.jpg', alt: "profile photo", class: 'about-pic-container' %>
    <ul class="tab-controls">
      <li><label for="tab-1">Me</label></li>
      <li><label for="tab-2">Education</label></li>
      <li><label for="tab-3">Video</label></li>
      <div class="tab-content">
        <input id="tab-1" name="tab" type="radio" class="tab-input" checked />
        <div class="tab-item">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid commodi veniam ratione minus assumenda, esse eos explicabo provident neque quos voluptates quae dolor nesciunt hic eius atque odio quam tempore.
          </p>
        </div>
        <input id="tab-2" name="tab" type="radio" class="tab-input" />
        <div class="tab-item">
          <div class="timeline">
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-component timeline-content">
              <h3>Le Wagon Tokyo</h3>
              <p>Oct 2023 ~ Dec 2023</p>
              <p>2 week intensive bootcamp</p>
            </div>
            <div class="timeline-component timeline-content">
              <h3>Tokyo Central Japanese Language School</h3>
              <p>July 2020 ~ Jan 2022, </p>
              <p>Jan</p>
            </div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty"></div>
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-component timeline-content">
              <h3>De Montfort University</h3>
              <p>Aug 2019 ~ October 2020</p>
            </div>
            <div class="timeline-component timeline-content">
              <h3>Pearson College London</h3>
              <p>Aug 2017 ~ May 2019</p>
              <p>Some text</p>
            </div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty"></div>
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-component timeline-content">
              <h3>Southville International School Affiliated with Foreign University</h3>
              <p>Aug 2016 ~ May 2018</p>
              <p>Some Text.</p>
            </div>
          </div>
        </div>
        <input id="tab-3" name="tab" type="radio" class="tab-input" />
        <div class="tab-item">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At ullam consequatur dignissimos temporibus expedita illum commodi voluptatibus vel provident ad cum, odit velit ipsam molestiae neque natus et, assumenda quibusdam!
          </p>
        </div>
      </div>
    </ul>
  </div>
</section>
