<%# <div class="night-toggle" onClick="switchMode()">
  <div id="moon" class="moon"></div>
</div> %>
<%#  %>
<section id="about">
  <div class="about-container">
    <div class="detail-container">
      <div class="about">
        <h3>About Me</h3>
        <p>I love matcha!</p>
        <h4>What I love?</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sunt placeat fuga, tenetur possimus rerum voluptas. Recusandae alias sed voluptatum at, impedit minima assumenda accusantium! Totam iure illo debitis voluptatem!</p>
      </div>
    </div>
  </div>
</section>
