<section id="about">
  <header class="header-about">
    <h1>About Me</h1>
  </header>
  <div class="about-wrapper">
    <%= image_tag 'propic3.jpg', alt: "profile photo", class: 'about-pic-container' %>
    <ul class="tab-controls">
      <div class="tab-labels">
        <li><label for="tab-1">Me</label></li>
        <li><label for="tab-2">Education</label></li>
        <li><label for="tab-3">Video</label></li>
      </div>
      <div class="tab-content">
        <input id="tab-1" name="tab" type="radio" class="tab-input" checked />
        <div class="tab-item">
          <p>
            It was challenging for me to decide on a career path, especially with the added gap caused by the pandemic after graduating from university in 2020. Since then, I’ve explored different things, but nothing truly sparked my interest. However, when something does, I pursue it.
          </p>
          <p>
            I initially enrolled in a foundations course with no prior coding experience and learned JavaScript fundamentals in late 2022. However, it didn’t quite fit me as my first coding language. This led me to transition to learning Ruby, giving coding another chance.
          </p>
          <p>
            My coding journey began with Le Wagon Tokyo’s two-month immersive course from October to December 2023, providing me with opportunities to collaborate with buddies and groups. It was during this experience that I discovered my motivation for coding — to transform my ideas into reality through code. Nothing excites me more than seeing them come to life.
          </p>
          <p>
            Beyond coding, I find joy in sports like cable wakeboarding and snowboarding (newbie) 🏂
          </p>
          <p>
            I’m also a coffee and matcha enthusiast! If you happen to be in Tokyo, I’d love to meet up for a cup, and maybe we can enjoy some cake as well.
          </p>
        </div>
        <input id="tab-2" name="tab" type="radio" class="tab-input" />
        <div class="tab-item">
          <div class="timeline">
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-component timeline-content">
              <h3>Le Wagon, Tokyo</h3>
              <p class="timeline-date">Oct 2023 ~ Dec 2023</p>
              <p>Completed a 9-week full-time intensive coding bootcamp, learning HTML, CSS, Bootstrap, JavaScript ES6, Stimulus.js, SQL, Git, GitHub, Heroku, and Ruby on Rails.</p>
            </div>
            <div class="timeline-component timeline-content">
              <h3>Tokyo Central Japanese Language School</h3>
              <p class="timeline-date">July 2020 ~ Jan 2022 </p>
              <p>Engaged in an intensive Japanese language program, progressing from N5 to N2 proficiency levels. Completed 900 hours of comprehensive study, honing language skills and cultural understanding.</p>
            </div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty"></div>
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-component timeline-content">
              <h3>De Montfort University</h3>
              <p class="timeline-date">Aug 2019 ~ October 2020</p>
              <p>Bachelor of Arts (Honours) with a major in Business Management, achieving Second Class Upper Honors.</p>
            </div>
            <div class="timeline-component timeline-content">
              <h3>Pearson College London</h3>
              <p class="timeline-date">Aug 2017 ~ May 2019</p>
              <p>Higher National Certificate (BTEC Level 4) and Higher National Diploma (BTEC Level 5) with a major in Business Management. This comprehensive education equips me with a strong foundation in strategic management, marketing, and leadership. </p>
            </div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty"></div>
            <div class="timeline-empty"></div>
            <div class="timeline-middle">
              <div class="timeline-circle"></div>
            </div>
            <div class="timeline-component timeline-content">
              <h3>Southville International School Affiliated with Foreign University</h3>
              <p class="timeline-date">Aug 2016 ~ May 2018</p>
              <p>Senior High School with a focus on the Academic Track, specifically in Accounting, Business, and Management (ABM).</p>
            </div>
          </div>
        </div>
        <input id="tab-3" name="tab" type="radio" class="tab-input" />
        <div class="tab-item">
          <div class="video-content">
            <h3>Demo Day in Le Wagon</h3>
            <p>Explore SongFlow, our innovative final project designed for karaoke enthusiasts! Tailored for those who love going out for karaoke, SongFlow offers a seamless playlist creation experience. With SongFlow, users can create personalized playlists, each featuring a 30-second preview of selected songs. This unique feature enables users to refresh their minds and make informed choices when building their karaoke lineup. Watch the video below for a closer look!</p>
          </div>
          <div class="video">
            <iframe class="youtube-vid" width="660" height="415" src="https://www.youtube.com/" title="YouTube video player"></iframe>
          </div>
        </div>
      </div>
    </ul>
  </div>
</section>
