<section id="social">
  <div class="socials-container">
    <h2 class="contact-title">Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
      quae at obcaecati necessitatibus recusandae in? Nihil sit doloremque delectus rem vel ipsa,
      doloribus dignissimos cum est ipsum! Nesciunt, eius voluptatem.lorem Lorem ipsum, dolor
      sit amet consectetur adipisicing elit. Nulla rerum quas sint, harum aut accusamus,
      deserunt officiis iusto unde commodi veniam itaque velit incidunt magni accusantium
      voluptates molestias inventore! Voluptas.</p>
  </div>
</section>
<%#  %>
