.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  // color: black;
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #D19C29;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #e3b450b4;
}

.card-product .card-product-infos {
  padding: 16px;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.external-link {
  margin-left: 8px;
  opacity: 0;
  color: $gray;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
    color: $gray
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .external-link {
    opacity: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// project-buttons-css
.project-btn{
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}


.project-button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 0.2px solid #DAC0A3;
  color: white;
  // border: 0.1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
  transition: background-color 0.2s;
  margin: 8px;
}

.project-button.active:after {
  top: 0px;
  left: 0px;
}

.project-button:after {
  content: "";
  background-color: #D19C29;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.project-button:hover:after,
.project-button.active:hover:after,
.project-button:active:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .project-button {
    padding: 13px 50px 13px;
  }
}
