.about-wrapper * {
  box-sizing: border-box;
}

#about{
  height: 100dvh;
}
.about-container{
  margin-top: 10px;
}
.about-title-container{
  border: 2px solid white;
  background-color: #DAC0A3;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalnia', serif;
  }
}
.header-about{
  border: 0.5px solid #D19C29;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  h1{
    color: #D19C29;
    font-family: 'Diphylleia', serif;
  }
  a {
    text-decoration: none;
    color: pink;
  }
}
  .about-pic-container {
    width: 380px;
    height: 450px;
    border: 10px solid #DAC0A3;
}

.about-wrapper {
  display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
    margin-top: 60px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Diphylleia', serif;
}

.tab-controls {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 0 1rem;
  // border-bottom: 1px solid black;
  margin-top: 90px;
  margin-top: unset;
  row-gap: 28px;
  @media (min-width: 40rem) {
    display: flex;
    // padding: 0;
    border: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: justify;
    font-family: 'Diphylleia', serif;
    .video-content p {
      width: 90%;
  }
  }
  li {
      display: block;

      @media (min-width: 40rem) {
          position: relative;
          display: inline-block;
          padding: 0 1rem;

          &:after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 100%;
              width: 2px;
              height: 15px;
              // background: $ultralight;
              transform: translateY(-50%);
          }

          &:last-of-type:after {
              content: none;
          }
      }
  }

}
li label {
  font-size: 1.2rem;
  color: #DAC0A2;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #D19C29;
  }

  &:active {
    color: #D19C29;
    text-decoration:underline;
  }
}
.tab-input {
  display: none;
}


.tab-item {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  font-family: 'Diphylleia', serif;

  .tab-input:checked + & {
      position: static;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: 0.3s ease-in-out;
      margin-bottom: 110px;
      line-height: 37px;
      // width: 95%;
      color: #D19C29;
  }

  @media (min-width: 40rem) {
      font-size: 1.2rem;
      // line-height: 2;
      // padding: 19px;
  }
}

// .tab-labels{
// text-decoration: line-through gray;
// }
@media only screen and (max-width: 640px){
.tab-controls {
    display: flex;
    padding: 0;
    border: none;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}
.tab-content {
  width: 100%;
}
.video-content p {
  width: 100%;
}
}
@media only screen and (max-width: 999px){
  #about{
    height: 80vh ;
  }
.tab-controls {
  display: flex;
  padding: 0;
  border: none;
  /* text-align: center; */
  /* flex-wrap: wrap; */
  align-content: center;
  justify-content: center;
  align-items: center;
}
#contact {
  padding: 64px;
}
.tab-content {
  width: 100%;
}
.video-content p {
  width: 100%;
}
}

// BUTTON CSS

.go-top-button{
  background-color: transparent;
  color: #DAC0A3;
  bottom: 35px;
  right: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  cursor: pointer;
  transition: all 0.3s;
  border: 3px solid #DAC0A3;
  justify-content: center;
  align-content:center ;
  margin-right: -30px;
}


.go-top-button i {
  font-size: 26px;
  margin: auto;
}

.go-top-button.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  margin-right: -30px;
}
@media only screen and (max-width: 991px ){

  .go-top-button.active {

    margin: 65px;
    /* margin: 42px; */
    margin-right: -40px;
  }
  .go-top-button.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    transition: all 0.3s;
    // margin-bottom: 70px;
    margin: 65px;
    /* margin: 42px; */
    margin-right: -40px;
  }
  }

// timeline
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 60vh;
  padding: 100px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  // height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-component {
  margin: 0px 25px 4px 25px;
}
.timeline-content {
  padding: 20px;
  background: transparent;
  border-radius: 5px;
  color: #D19C29;
  padding: 0.75rem;
  border: 1px dotted #EE7211;
  text-align: center;
  // font-size: smaller;
  width: 310px;
  padding: 20px;

  h3{
    font-size: 22px;
  }
  .timeline-date{
    font-style: italic;
    margin-bottom: 10px;
    color: grey;
  }
  p {
    font-size: 14px;
    margin: -6px;
    line-height: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}

}

.video-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  h3{
    color:#D19C29;
    text-align: center;
  }
  p {
    padding: 10px;
    color: gray;
    width: 100%;
}
}
.video{
  justify-content: center;
  display: flex;
}
p{
  text-align: justify;
}
@media screen and (min-width: 1000px) {
  .timeline {
    display: grid;
    grid-template-columns: 2fr 3px 1fr;
    margin-left: 43px;
  }
  .timeline-middle {
    position: relative;
    background-color: #D19C29;
    width: 3px;
    height: 100%;
    margin-left: 10px;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #EE7211;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .tab-content{
    width: 95%;
  }
}

@media only screen and (max-width: 1199px){
  #about {
    height: 130vh;
}


  .about-wrapper {
    display: block;
    margin: 0;
    // height: 115vh;
  }
  .about-pic-container{
    margin: 5px;
    margin-left: 28%;
    margin-bottom: 25px;
  }
  .timeline{
    margin-left: 43px;
  }
}
@media only screen and (max-width: 999px){
  .about-wrapper {
    display: block;
    margin: 0;
    text-align:justify;
  }
  .about-pic-container{
    margin: 5px;
    margin-left: 21%;
    margin-bottom: 25px;
  }
  .timeline {
    width: 80%;
    // height: auto;
    max-width: 801px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.tab-controls {
  display: flex;
  padding: 0;
  border: none;
  text-align: center;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  margin-bottom: 130px;
  width: 100%;
  // margin-left: -10px;
}
.mobile{
  display: contents;
}
.my-navbar ul {
  flex: 1;
  text-align: right;
  margin-top: -34px;
  // margin-bottom: 47px;
}
.youtube-vid{
  width: 5000px;
  height: 315px;
  justify-content: center;
}
}
@media only screen and (max-width: 767px){
  .about-pic-container {
    margin: 0;
    margin-left: 10%;
    margin-bottom: 25px;
    .about-wrapper {
      p{
      text-align:justify;
      }
    }
}
.tab-content {
  width: 100%;
}
}
@media only screen and (max-width: 500px){
.about-pic-container {
    margin: 5px;
    margin-left: 7%;
    margin-bottom: 25px;
}
.video-content p {
  width: 105%;
}
}
@media only screen and (max-width: 450px){
.about-pic-container {
    width: 350;
    height: 450px;
    margin: 5px;
    // margin-left: 2%;
    margin-bottom: 25px;
}
.tab-item {
  p{
    margin: -17px;
    margin-bottom: 25px;
  }
}
}
@media only screen and (max-width: 430px){
.about-pic-container {
  width: 350px;
  height: 450px;
  /* margin: 0px; */
  margin-left: 12px;
  margin-bottom: 25px;
}
.youtube-vid{
  width: 400px;
  height: 215px;
  justify-content: center;
}
.tab-content {
  width: 100%;
}
.timeline-content{
  p{
    font-size: 14px;
    margin: -6px;
    line-height: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
}
@media only screen and (max-width: 414px){
.about-pic-container {
    width: 350px;
    height: 450px;
    margin-left: 5px;
    margin-bottom: 25px;
}
}

@media only screen and (max-width: 390px){
.about-pic-container {
  width: 320px;
  height: 420px;
  margin: 0;
  margin-bottom: 25px;
  margin-left: 15px;
}

}
@media only screen and (max-width: 350px){
.about-pic-container {
  width: 300px;
  height: 400px;
  margin: 0;
  margin-bottom: 25px;
  margin-left: -6px;
}
}


.tab-labels{
  display: contents;
}
