*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#profile{
  height: 100vh;
}
@media only screen and (max-width: 1199px){
  #profile{
    height: 90vh;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 0rem;
    display: block;
    /* margin-bottom: 6rem; */
    display: content;
    .section-text{
      margin-top: 40px;
  }
  .mobile{
    padding: 25px;
    padding-bottom: 50px;
    .mobile-icon{
      font-size: 30px;
    }
  }
}
.section-text{
  font-family: 'Diphylleia', serif;
  font-size: 25px;
}
}
@media only screen and (max-width: 700px){
#profile {
    height: 90vh;
    margin-top: 4rem;
    margin-left: 0rem;
    display: block;
    display: content;
}
.section-text-banner{
  margin: 20px;
}.section-text{
  font-family: 'Diphylleia', serif;
  font-size: 25px;
}
}
a{
text-decoration: none;
color:#D19C29
}
a:hover {
  color: #D19C29;
}
.navbar{
  padding: 10px 20px;
  display: block;
  width: 100%;
  margin: 2px -10px;
  z-index: 1000;
  ul{
    flex: 1;
    text-align: right;
    // margin-top: -50px;
  }
  ul li{
    display: inline-block;
    margin: 0 30px;
  }
  a{
    text-decoration: none;
    color:#D19C29
    }
    a:hover {
      color: #cba85db7;
      cursor: none;
    }
}

.logo{
  font-size: 40px;
  color: #D19C29;
  font-family: 'Caveat', cursive;
  margin: 8px;
}
.mobile{
  display: none;

}
@media only screen and (max-width: 991px){
  .navbar .desktop-list {
    display: none;
  }
  .mobile {
    display: block;
    color: blue;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #DAC0A3;
    padding-bottom: 30px;
    justify-content: space-evenly;
    li{
      width: 10px;
      height: 10px;
    }
    .logo{
      margin: -3px;
    }
    .mobile-icon{
      font-size: 30px;
    }
  }
  .night-toggle-contact {
    width: 33px;
    height: 33px;
    right: 20px;
    top: 25px;
    position: absolute;
    margin-top: 0px;
    }
    //
    .night-toggle:hover{
      cursor: pointer;
    }
    .moon-contact {
      background-color: transparent;
      box-shadow: -6px 1px 0 3px #275e8e;
      border-left:3px solid #27476D;
      border-radius:50%;
      width: 20px;
      height: 20px;
      margin-left:8px;
      transition: 2s;
      margin-top: 10px;
    }
    .sun-contact {
      background-color: #fdd462;
      box-shadow: 2px 0px 0px 1px #D19C29;
      border-radius:50%;
      width: 26px;
      height: 26px;
      transition: 2s;
    }

}

@media only screen and (max-width: 430px){
  .navbar .desktop-list {
    display: none;
  }
  .mobile {
    display: block;
    color: blue;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #DAC0A3;
    justify-content: space-evenly;
    padding-bottom: 40px;

    .section-pic-container{
      border-radius: 50%;
      object-fit: cover;
      margin: 0;
    }
    .pic-banner {
      display: flex;
      height: 380px;
      width: 380px;
      margin: auto -2px;
  }
  }
  .mobile i{
    font-size: 30px;
  }
}

@media only screen and (max-width: 390px){
  #profile{
    height: 90vh;
    font-size: small;
    .section-pic-container {
      display: flex;
      height: 320px;
      width: 320px;
      margin: 17px;
  }
  .section-text {
    font-family: 'Diphylleia', serif;
    font-size: 20px;
}
  }
  .container{
    padding: 0;
  }
}
@media only screen and (max-width: 370px){
#profile .section-pic-container {
    display: flex;
    height: 320px;
    width: 320px;
    margin: 0px;
}
.about-pic-container{
  margin-left: 4px;
}
}
//
body {
  transition: 1.5s;
  }
  .night-toggle {
  width: 33px;
  height: 33px;
  right: 20px;
  top: 25px;
  position: absolute;
  }
  .night-toggle:hover{
    cursor: pointer;
  }
  .moon {
    background-color: transparent;
    box-shadow: -6px 1px 0 3px #275e8e;
    border-left:3px solid #27476D;
    border-radius:50%;
    width: 20px;
    height: 20px;
    margin-left:8px;
    margin-top:0px;
    transition: 2s;
    margin-top: 10px;
  }
  .sun {
    background-color: #fdd462;
    box-shadow: 2px 0px 0px 1px #D19C29;
    border-radius:50%;
    width: 26px;
    height: 26px;
    transition: 2s;
    margin-top: 10px;
  }

  .devicon {
    font-size: 20px;
  }

  .section-text{
    font-family: 'Diphylleia', serif;
    font-size: 30px;
  }
  .navbar{
    font-family: 'Diphylleia', serif;
    font-size: 20px
  }
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Diphylleia&family=Kalnia:wght@200;300&family=La+Belle+Aurore&display=swap');
