*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
text-decoration: none;
color:#D19C29
}
a:hover {
  color: #DAC0A3;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.navbar{
  padding: 10px 20px;
  display: block;
  width: 100%;
  margin: 10px -10px;

  ul{
    flex: 1;
    text-align: right;
    margin-top: -34px;
  }
  ul li{
    display: inline-block;
    margin: 0 30px;
  }
}
// .container{
//   max-width: 744px;
// }
.logo{
  font-size: 35px;
  color: #D19C29
}
.mobile{
  display: none;
}
@media only screen and (max-width: 991px){
  .navbar .desktop-list {
    display: none;
  }
  .mobile {
    display: block;
    color: blue;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #DAC0A3;
    padding-bottom: 30px;
    justify-content: space-evenly;
    li{
      width: 10px;
      height: 10px;
    }
    .logo{
      margin: 3px;
    }
  }
}

@media only screen and (max-width: 430px){
  .navbar .desktop-list {
    display: none;
  }
  .mobile {
    display: block;
    color: blue;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #DAC0A3;
    justify-content: space-evenly;
    padding-bottom: 40px;

    .section-pic-container{
      // margin-right: 5px;
      border-radius: 50%;
      object-fit: cover;
      // border: 0px solid #DAC0A3;
      margin: 0;
    }
    .pic-banner {
      display: flex;
      height: 380px;
      width: 380px;
      margin: auto -4px;
  }
  }
  .mobile i{
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .section-pic-container{
  margin: -4px;
    // border: 0px solid #DAC0A3;
}
.logo{
  margin: 3px;
}
}
//
body {
  transition: 1.5s;
  }
  .night-toggle {
  width: 33px;
  height: 33px;
  right: 20px;
  top: 25px;
  position: absolute;
  }
  .night-toggle:hover{
    cursor: pointer;
  }
  .moon {
    background-color: transparent;
    box-shadow: -6px 1px 0 3px #275e8e;
    border-left:3px solid #27476D;
    border-radius:50%;
    width: 20px;
    height: 20px;
    margin-left:8px;
    margin-top:0px;
    transition: 2s;
    margin-top: 10px;
  }
  .sun {
    background-color: #fdd462;
    box-shadow: 2px 0px 0px 1px #D19C29;
    border-radius:50%;
    width: 26px;
    height: 26px;
    transition: 2s;
    margin-top: 10px;
  }

  @media screen and (max-width: 800px) {
    #profile{
      height: 90vh;
      margin-top: 6rem;
      margin-left: 0rem;
      margin-right: 0rem;
      /* margin-bottom: 6rem; */
      display: block;
      .section-text{
        margin-top: 40px;
      }
  }
  }
