
.my-navbar{
  padding: 10px 20px;
  display: block;
  width: 100%;
  margin: 10px -10px;

  ul{
    flex: 1;
    text-align: right;
    margin-top: -34px;
    margin-right: 75px;
  }
  ul li{
    display: inline-block;
    margin: 0 30px;
    // margin-right: 60px;
  }
  .logo{
    margin-left: 6.7%;
    margin-top: -8px;
  }
}

.logo-contact{
  font-size: 35px;
  color: #D19C29;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 75px;
  margin-top: 10px;
}

.night-toggle-contact {
  width: 33px;
  height: 33px;
  right: 20px;
  top: 25px;
  position: absolute;
  margin-top: 0px;
  }
  //
  .night-toggle:hover{
    cursor: pointer;
  }
  .moon-contact {
    background-color: transparent;
    box-shadow: -6px 1px 0 3px #275e8e;
    border-left:3px solid #27476D;
    border-radius:50%;
    width: 20px;
    height: 20px;
    margin-left:8px;
    transition: 2s;
    margin-top: 10px;
  }
  .sun-contact {
    background-color: #fdd462;
    box-shadow: 2px 0px 0px 1px #D19C29;
    border-radius:50%;
    width: 26px;
    height: 26px;
    transition: 2s;
    // margin-top: 10px;
    // margin-top: 0px;
  }

  #contact{
display: flex;
min-height: 75vh;
align-items: center;
justify-content: center;
// max-width: 1200px;
align-items: center;
padding: 0 20px;
height: 100vh;
  }

  .contact-card{
    background: rgba(255, 255, 255, 0.3);
    padding: 0 20px;
    margin: 0 10px;
    width: 400px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 55px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .card-icon{
    font-size: 28px;
    background-color: #F8F0E5;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px !important;
    border-radius: 50%;
    transition:  0.3s linear;
  }

  .contact-card:hover{
    background: none;
    color: #DAC0A3;
    transform: scale(1.6);
  }

  .contact-card a {
    margin-top: 20px;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
    font-size: small;
    text-decoration: none;
  }
  .contact-card:hover a{
    max-height: 40px;
    opacity: 1;
    text-decoration: none;
  }

  @media screen and (max-width: 990px) {
#contact{
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card{
  width: 100%;
  // max-width: 250px;
  margin: 10px 0;
  font-size: 20px;
}
.contact-card{
  width: calc(100% - 23%);
}
  }
  @media screen and (max-width: 500px) {
#contact{
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-card {
  width: calc(125% - 23%);
}
  }
  @media screen and (max-width: 400px) {
#contact{
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}
.contact-card {
  width: calc(125% - 23%);
}
  }
