// Specific CSS for your home-page
// section{
//   padding-top: 4vh;
//   height: 96vh;
//   margin: 0 10rem;
//   box-sizing: border-box;
//   min-height: fit-content;
// }

.section-container{
  display: flex;
}

// profile section
#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100vh;
  margin-right: 224px;
  margin-left: 60px;
}
.section-pic-container{
  display: flex;
  height: 380px;
  width: 380px;
  margin: auto;
}
.section-text{
  align-self: center;
  text-align: center;
}

.section-text p{
  font-weight: 600;
}
.section-text1{
  text-align: center;
}
.section-text2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.title{
  font-size: 3rem;
  text-align: center;
}
.main-social-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.section-pic-container{
  border-radius: 50%;
  object-fit: cover;
  // border: 2px solid #DAC0A3;
}
