#projects{
  height: 100vh;
  text-align: center;
  margin: 87px;
}
.project-img{
  width: 100px;
  height: 100px;
}

.project-header{
  margin-top: 10px;
  h1{
    font-family: 'Tenor Sans';
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
  margin-top: 60px;
}
.my-navbar{
  font-family: 'Diphylleia', serif;
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  #projects{
    margin: 46px;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .go-top-button {
    margin-right: -39px;
}
  .go-top-button.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    margin-right: -39px;
}
}

@media screen and (max-width: 750px){
  #projects{
    margin: 13px;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
.card {
    width: 100%;
    /* max-width: 250px; */
    margin: 10px 0;
}
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.333% - 1rem);
  padding: 1rem;
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 1px solidrgba(255, 255, 255, 0.1);;
  color: #d08c3e;
  text-decoration: none;
  transition: 0.5s;
}

.card-title {
  margin-top: 20px;
  font-family: 'Tenor Sans';
}
.caed-descriptioN{
  font-family: 'Tenor Sans';
}
.card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.card:hover {
  box-shadow: 0 10px 20px #DAC0A3;
}

.external-link {
  margin-left: 8px;
  opacity: 2;
  color: $gray;

}
