#projects{
  height: auto;
  text-align: center;
  margin: 87px;
}
.project-img{
  width: 100px;
  height: 100px;
}

.project-header{
  margin-top: 32px;
  h1{
    font-family: 'Tenor Sans';
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
  margin-bottom: 200px;
}
.my-navbar{
  font-family: 'Diphylleia', serif;
  font-size: 20px;
}

@media screen and (max-width: 1800px) {
  .card img{
    height: 280px;
  }

}
@media screen and (max-width: 1100px) {
  #projects{
    margin: 46px;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .go-top-button {
    margin-right: -39px;
}
  .go-top-button.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    margin-right: -39px;
}
.card img {
  height: 190px;
width: 100%;
  object-fit: fill;
}
}

@media screen and (max-width: 900px) {
.card img {
  height: 185px;
}
}

@media screen and (max-width: 750px){
  #projects{
    margin: 13px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    margin-top: -15px;
  }
.card {
    width: 100%;
    /* max-width: 250px; */
    margin: 10px 0;
}
.my-navbar .logo {
  margin-left: 6.7%;
  margin-top: 4px;
}
}
@media screen and (max-width: 500px){
  .wrapper{
    margin-top: -15px;
  }
  .card img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.card-box{
  .card-title{
    font-size: 32px;
  }
  .card-role{
    font-size: 20px;
  }
  .card-description{
    font-size: 18px;
  }
}
.my-navbar .logo {
  margin-left: 6.7%;
}
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.333% - 1rem);
  padding: 1rem;
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 1px solidrgba(255, 255, 255, 0.1);;
  color: #d08c3e;
  text-decoration: none;
  transition: 0.5s;
object-fit: cover;
}

.card-proj{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  padding: 12px;
}
.card-title {
  margin-top: 15px;
  font-size: 35px;
  font-family: 'Tenor Sans';
}
.card-role{
font-size: 20px;
}
.card-description{
  font-family: 'Tenor Sans';
  font-size: 23px;
}


.card:hover {
  box-shadow: 0 10px 20px #DAC0A3;
}

.external-link {
  margin-left: 8px;
  opacity: 2;
  color: $gray;

}
.link{
  display: flex;
  justify-content: center;
}
