#projects{
  height: auto;
  text-align: center;
  margin: 87px;
}
.project-img{
  width: 100px;
  height: 100px;
}

.project-header{
  margin-top: 32px;
  h1{
    font-family: 'Diphylleia', serif;
    color: #D19C29;
    background: rgba(255, 255, 255, 0.01);
    margin: 11px;
    padding: 24px;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
  margin-bottom: 200px;
}
.my-navbar{
  font-family: 'Diphylleia', serif;
  font-size: 20px;
}

@media screen and (max-width: 1700px) {
  .card img{
    height: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 2000px) {
  .card img{
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
  .card-box{
    .techstack{
      font-size: 26px;
    }
}
}
@media screen and (max-width: 1400px) {
  #projects{
    margin: 46px;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .go-top-button {
    margin-right: -39px;
}
  .go-top-button.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    margin-right: -39px;
}
.card img {
  height: 300px;
width: 100%;
  object-fit: fill;
}
}

@media screen and (max-width: 900px) {
.card img {
  height: 200px;
}
}


@media screen and (max-width: 750px){
  #projects{
    margin: 13px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    margin-top: -15px;
  }
.card {
    width: 100%;
    /* max-width: 250px; */
    margin: 23px 0;
}
.my-navbar .logo {
  margin-left: 6.7%;
  margin-top: 4px;
}
}
@media screen and (max-width: 500px){
  .wrapper{
    margin-top: -15px;
  }
  .card img {
    width: 100%;
    object-fit: contain;
}
.card-box{
  .card-title{
    font-size: 32px;
  }
  .card-role{
    font-size: 20px;
  }
  .card-description{
    font-size: 18px;
  }
}
.my-navbar .logo {
  margin-left: 6.7%;
}
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.333% - 1rem);
  padding: 1rem;
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 0.20px solid #DAC0A3;
  color: #D19C29;
  text-decoration: none;
  transition: 0.5s;
object-fit: cover;
}

.card-proj{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  padding: 12px;

}
.card-title {
  margin-top: 15px;
  font-size: 35px;
  font-family: 'Diphylleia', serif;
}
.card-role{
font-size: 20px;
color: gray;
font-family: 'Diphylleia', serif;
}
.card-description{
  font-family: 'Diphylleia', serif;
  font-size: 18px;
}
.techstack{
  font-size: 20px;
}



.card:hover {
  box-shadow: 0 10px 20px #DAC0A3;
}

.external-link {
  margin-left: 8px;
  opacity: 2;
  color: $gray;

}
.link{
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  font-size: 18px;
}
.vr
{
  display:inline;
  height:100%;
  width:1px;
  border:1px inset;
  margin:5px;
}
