#contact{
  height: 85dvh;
  margin: 30px
}
@media screen and (max-width: 800px) {
  #contact{
    .section-text{
      margin-top: 40px;
    }
    .mobile-icon{
      font-size: 30px;
    }
}
}
@media only screen and (max-width: 500px) {
  .socials-container{
    margin: 1px;
  }
  .navbar{
    .logo-contact{
      margin-left: 30px;
    }
    .night-toggle-contact{
      display: contents;
    }
  }
}
@media only screen and (max-width: 1400px) {
  .socials-container{
    margin-top: 25vh;
  }
  .my-navbar{
        .logo{
      margin-left: 16.7%;
    }
  }
  .mobile{
    padding: 25px;
    padding-bottom: 50px;
    .mobile-icon{
      font-size: 30px;
    }
  }
}
@media only screen and (max-width: 2000px) {
  .my-navbar{
    .logo{
      margin-left: 6.7%;
}
}
}

.navbar{
  .h1{
    margin-top: 10px;
  }
}
.socials-container {
  background-color: #EADBC8;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin: 46px; */
  padding: 50px;
  border-radius: 50px;
  // height: 50vh;
  margin-top: 25vh;
  flex-direction: column;
  h2{
    margin-bottom: 50px;
    color: #d08c3e;
    text-decoration: underline;
    text-underline-offset: 1rem;
  }
}
.my-navbar ul {
  z-index: 1000;
}
  .my-navbar{
    padding: 10px 20px;
    display: block;
    width: 100%;
    width: 86%;
    margin: 10px -10px;

    ul{
      flex: 1;
      text-align: right;
      margin-top: -49px;

    }
    ul li{
      display: inline-block;
      margin: 0 30px;
    }
  }
