#contact{
  height: 50vh;
  margin: 30px
}
@media screen and (max-width: 800px) {
  #contact{
    .section-text{
      margin-top: 40px;
    }
    .mobile-icon{
      font-size: 30px;
    }
}
}
@media only screen and (max-width: 500px) {
  .socials-container{
    margin: 1px;

    // border: 0px solid #DAC0A3;
  }
  .navbar{
    .logo-contact{
      margin-left: 30px;
    }
    .night-toggle-contact{
      display: contents;
    }
  }
}
@media only screen and (max-width: 1400px) {
  .socials-container{
    margin-top: 25vh;
    // margin: 30px;

    // border: 0px solid #DAC0A3;
  }
  .mobile{
    padding: 25px;
    padding-bottom: 50px;
    .mobile-icon{
      font-size: 30px;
    }
  }
}

.navbar{
  .h1{
    margin-top: 10px;
  }
}
.socials-container {
  background-color: #EADBC8;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin: 46px; */
  padding: 50px;
  border-radius: 50px;
  // height: 50vh;
  margin-top: 25vh;
  flex-direction: column;
  h2{
    margin-bottom: 50px;
    color: #d08c3e;
    text-decoration: underline;
    text-underline-offset: 1rem;
  }
  p{
    // color;
  }
}

// .social-main-container{
//   width: 100%;
//   // background-color: black;
//   border-radius: 12px;
//   margin: 0 20px;
//   box-shadow: 0 5px 10px fdd462;
//   color: white;
//   padding: 20px;

// }
// .container-social-content{
//   // background-color: black;
//   border-radius: 50%;
//   background-color: #e7d7d7;
//   border-radius: 50%;
//   height: 100vh;
//   margin: 70px;
//   display: inline-grid;
//   justify-content: center;
//   text-align: justify;
//     p {
//       margin: 30px;
//     }
//     h1 {
//       margin: 30px;
//     }
// }
